<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoeSystem - Inicio</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Cadastro de usuário</h1>
    <br>
    <div class="entrada">
        <h3>Bem vindo ao MoeSystem!</h3>
        <p>Autentique-se para começar!</p>
        <br>
    </div>
    <div class="login" id="login"></div>
    <br>
    <a href="/cadastro">Cadastre um usuário!</a>

    <script>
        $(document).ready(function(){
            $.ajax({
				url: '/login',
				method: 'get',
				success: function(data){
					$('#login').html(data);
				}
			});
        });
    </script>
</body>
</html>