<form>
    <input type="text" name="usuario" id="usuario" placeholder="Usuário">
    <br>
    <input type="password" name="senha" id="senha" placeholder="senha">
    <br>
    <input type="submit" value="Entrar">
</form>